@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
}

.error-container {
    text-align: center;
}

h1 {
    font-size: 200px;
    margin: 0;
    color: #0055a4;
    line-height: 1;
}

p {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #0055a4;
    font-size: 18px;
    border: 2px solid #0055a4;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0055a4;
    color: #fff;
}