@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --whitesmoke: #C4C4C4;
    --light-gray: #ECECEC;
    --gray: #C4C4C4;
    --medium-gray: #000000;
    --deep-gray: #343434;
    --black: #000000;
    --blue: #0055a4;
    --red: #0055a4;
}

body {
    font-family: 'Lexend Deca', sans-serif; /* Fonte restaurada */
    overflow-x: hidden; /* Evita o overflow lateral */
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Garante que o conteúdo ocupe toda a largura */
    overflow-x: hidden; /* Remove o overflow horizontal */
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza os itens no eixo vertical */
    width: 100%;
    max-width: 500px; /* Define o limite máximo */
    min-height: 100vh; /* Ocupa a altura total da viewport */
    padding: clamp(35px, 8%, 70px); /* Ajuste de padding dinâmico */
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__logo {
    width: 80px;
    height: 80px;
    object-fit: contain; /* Mantém a proporção da imagem dentro do tamanho definido */
    margin-bottom: 80px;
}

.login__title {
    color: var(--deep-grey);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.login__label {
    display: block;
    background-color: #e0e0e0;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);
}

.login__label span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

.input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.login__label .span-active {
    font-size: 0.7em;
    margin: 8px 10px;
}

.login__label--checkbox {
    width: 100%;
    margin: 15px 0 50px;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.input--checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #e0e0e0;
    margin-right: 8px;
    border-radius: 3px;
}

.input--checkbox:checked {
    background-color: var(--red);
}

.input--checkbox:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: 3px solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}

.login__button {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
}

.login__button svg {
    fill: white;
}

.login__button:disabled {
    cursor: auto;
    background-color: rgb(217, 217, 217);
    border: 2px solid var(--light-grey);
}

.login__link {
    font-size: 0.8em;
    text-decoration: none;
    color: var(--medium-grey);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
}

.wallpaper {
    width: 100%;
    background-image: url('../media/images/wallpapersign.svg');
    background-size: cover;
    background-position: center;
    flex: 1;
}
